.table-parts {
     padding-top: 20px;
background: #e6e8ea;
  width: 100%;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.customer-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.customer-table thead {
  border-radius: 8px;
  padding-bottom: 20px;
  background: #e6e8ea;
  border-bottom: 1px solid #e5e7eb;
  position: sticky;
  top: 0;
  z-index: 10;
}

.customer-table thead th {
  padding: 12px 16px;
  text-align: left;
  font-weight: 500;
  color: #6b7280;
  font-size: 12px;
  font-size: 15px;
}

.customer-table thead th:first-child {
  width: 40px;
  padding-left: 20px;
}

.table-rows {
  border-bottom: 1px solid #cccc;
  transition: background-color 0.2s ease;
}

.table-rows:hover {
  background-color: #d5dade; /* here i have taken a random value so i can hover and it will show */
}

.customer-table tbody td {
  padding: 10px;
  vertical-align: middle;
}

.email-column {
  min-width: 250px;
}

.customer-details {
  display: flex;
  align-items: center;
  gap: 12px;
}

.customer-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #f3f4f6;
}

.customer-phone {
  color: #6b7280;
  font-size: 12px;
}

.added-by-info {
  display: flex;
  align-items: center;
  gap: 8px;
}